# SQOOP in Cloudera

## import 
* sqoop import --table cityByCountry --connect jdbc:mysql://localhost/training --user root --passqord 1234 --cloumns "city, lat, lng" --target-dir training/cityByCountry1

### hdfs에 올린 데이터 확인
* hdfs dfs -ls training/cityByCountry1

![image](https://user-images.githubusercontent.com/42320146/52759357-e9d2cf00-304e-11e9-81dd-899d39a6744c.png)

### 내용 확인
* hdfs dfs -cat training/cityByCountry1/part-m-00000

![image](https://user-images.githubusercontent.com/42320146/52759773-7f229300-3050-11e9-83f8-f56e5ac3c5c7.png)

### export
* 사전에 mysql에 'table'을 만들어 놓아야 가능하다.<br>
* sqoop export --connect jdbc:mysql://localhost/training --username root --password 1234 --table sample_tbl2 --export-dir training/cityByCountry1

![image](https://user-images.githubusercontent.com/42320146/52759552-a3ca3b00-304f-11e9-89fa-93d37b5e0749.png)

![image](https://user-images.githubusercontent.com/42320146/52759591-c9574480-304f-11e9-8965-818ffeefad72.png)

![image](https://user-images.githubusercontent.com/42320146/52759804-9b263480-3050-11e9-90e4-a3889f274df6.png)

![image](https://user-images.githubusercontent.com/42320146/52759834-b4c77c00-3050-11e9-8675-914bbdf0f7f8.png)

![image](https://user-images.githubusercontent.com/42320146/52759862-cc9f0000-3050-11e9-948d-1a0ad6490153.png)

![image](https://user-images.githubusercontent.com/42320146/52759913-f9531780-3050-11e9-8fea-3ede5dfdb994.png)